
.cssContainer { 

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  
  width: 300px;
  border: 3px solid #000 ;
}

.cssBotoes {
  flex-direction: row;
  flex-wrap: wrap;
}
.cssTela {
  display: flex;
  padding-left: 20px;
  padding-right: 20;
  /* justify-content: center;
  align-items: flex-start;  */

  background-color: #444;
  flex-direction: column;
  width: 280px
}

.cssTelaOper {
  font-size: 25px;
  color: #fff;
  height: 20px
}
.cssTelaRes {
  font-size: 50px;
  color: #fff

}

/* css botão */
.cssBtn  {
  font-size: 30px;
  height: 75px;
  width: 75px;
  padding: 20px;
  background-color: #000;
  color: #fff;
  border-color: #000;
  text-align: center;
  outline: none;
}